---
import { Head } from "astro-capo";
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";

const { title, description } = Astro.props;
---

<html lang="cs">
  <Head>
    <SEO
      charset="UTF-8"
      title={title}
      description={description}
      extend={{
        link: [
          { rel: "sitemap", href: "/sitemap-index.xml" },
          {
            rel: "apple-touch-icon",
            sizes: "180x180",
            href: "/apple-touch-icon.png",
          },
          {
            rel: "icon",
            type: "image/png",
            sizes: "32x32",
            href: "/favicon-32x32.png",
          },
          {
            rel: "icon",
            type: "image/png",
            sizes: "16x16",
            href: "/favicon-16x16.png",
          },
          { rel: "manifest", href: "/site.webmanifest" },
          { rel: "mask-icon", href: "/safari-pinned-tab.svg" },
        ],
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "robots", content: "noarchive, noindex" },
          { name: "generator", content: Astro.generator },
          { name: "msapplication-TileColor", content: "#da532c" },
          { name: "theme-color", content: "ffffff" },
        ],
      }}
    />
    <ViewTransitions />
  </Head>
  <body>
    <slot />
  </body>
</html>
